
<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <div class="wrapper">
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <ul class="contact-list">
            <div class="footer-heading">
                <a href="https://www.form3.tech/" target="_blank">
                    <img src="{{site.baseurl}}/assets/form3-logo.svg" alt="Form3 Logo">
                </a>
            </div>
          </ul>
        </div>
        <div class="footer-col footer-col-3">
          {%- include social.html -%}
        </div>
    </div>
  </footer>
