/**
 * Site header
 */
 .site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: $spacing-unit * 1.865;
    background-color: $dark-navy;
  
    // Positioning context for the mobile navigation icon
    position: relative;
  }
  
  .site-title-logo {
    width: 15%;
    padding: $spacing-unit/2 0;
  }
  
  .site-nav {
    float: right;
    line-height: $base-line-height * $base-font-size * 2.25;
  
    .nav-trigger {
        display: none;
    }
  
    .menu-icon {
      display: none;
    }
  
    .page-link {
      @include relative-font-size(1.1);
      color: $soft-white;
      line-height: $base-line-height;
      font-family: $header-font-family;
  
      // Gaps between nav items, but not on the last one
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  
    @include media-query($on-palm) {
      position: absolute;
      top: 9px;
      right: $spacing-unit / 2;
      background-color: $dark-navy;
      border: 1px solid $grey-color-light;
      border-radius: 5px;
      text-align: right;
  
      label[for="nav-trigger"] {
        display: block;
        float: right;
        width: 36px;
        height: 36px;
        z-index: 2;
        cursor: pointer;
      }
  
      .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
  
        > svg {
          fill: $soft-white;
        }
      }
  
      input ~ .trigger {
        clear: both;
        display: none;
      }
  
      input:checked ~ .trigger {
        display: block;
        padding-bottom: 5px;
      }
  
      .page-link {
        display: block;
        padding: 5px 10px;
  
        &:not(:last-child) {
          margin-right: 0;
        }
        margin-left: 20px;
      }
    }
  }
  
  
  
  /**
   * Site footer
   */
  .site-footer {
    border-top: 1px solid $grey-color-light;
    padding: $spacing-unit / 2;
    background-color: $dark-navy;
  }
  
  .footer-heading {
    @include relative-font-size(1.25);
    width: 40%;
  }  
  .contact-list,
  .social-media-list {
    list-style: none;
    margin-left: 0;
  }
  
  .footer-col-wrapper {
    @include relative-font-size(0.9375);
    color: $text-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
  }
  
  .footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
  
  .footer-col-1 {
    width: -webkit-calc(60% - (#{$spacing-unit} / 2));
    width:         calc(60% - (#{$spacing-unit} / 2));
  }
  
  .footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
  }
  
  .footer-col-3 {
    width: -webkit-calc(40% - (#{$spacing-unit} / 2));
    width:         calc(40% - (#{$spacing-unit} / 2));
  }
  
  @include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
      width: -webkit-calc(50% - (#{$spacing-unit} / 2));
      width:         calc(50% - (#{$spacing-unit} / 2));
    }
  
    .footer-col-3 {
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
  }
  
  @include media-query($on-palm) {
    .footer-col {
      float: none;
      width: -webkit-calc(100% - (#{$spacing-unit} / 2));
      width:         calc(100% - (#{$spacing-unit} / 2));
    }
  }
  
  /**
   * Page content
   */
  .page-content {
    padding: $spacing-unit 0;
    flex: 1;
  }
  
  .page-heading {
    @include relative-font-size(2);
  }
  
  .post-list-heading {
    @include relative-font-size(1.75);
  }
  
  .post-list {
    margin-left: 0;
    list-style: none;
  
    > li {
      margin-bottom: $spacing-unit;
    }
  }
  
  .post-meta {
    font-size: $small-font-size;
    color: $grey-color;
  }
  
  .post-link {
    display: block;
    @include relative-font-size(1.5);
  }

  
  /**
    My custom stuff
  */
  
  .careers-btn {
    @include relative-font-size(1.1);
    background-color: $brand-color;
    font-family: $header-font-family;
    color: $text-color;
    border: none;
    border-radius: 5px;
    line-height: $base-line-height * 2;
    padding: 10px 15px;
  }

  .careers-btn:hover {
    opacity: 1;
  }
  
  .video-container {
    overflow: hidden;
    position: relative;
    width:100%;
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
  }
  
  .video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
  }
  
  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }